{
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint",
        "react",
        "jsx-a11y"
    ],
    "env": { 
      "browser": true,
      "jest": true
     },
    "extends": [
      "eslint:recommended", 
      "plugin:@typescript-eslint/recommended",
      "plugin:react/recommended",
      "plugin:jsx-a11y/recommended"
    ],
    "globals": {
      "React": "readonly",
      "JSX": "readonly"
    },
    "settings": {
      "react": {
        "version": "detect"
      }
    },
    "rules": {
        "semi": [
            "error",
            "never"
        ],
        "quotes": [
            2,
            "single"
        ],
        "indent": [
            "error",
            2
        ],
        "eqeqeq": "error",
        "curly": "error",
        "no-console": [
          "error", 
          { "allow": ["warn", "error"] }
        ],
        "react/prop-types": 0
    }
}