.App {
    display: flex;
    flex-flow: column;
    min-height: 100vh;
    max-width: 100vw;
    text-align: center;
}

.Content {
    flex-grow: 1;
}

.d-flex {
    display: flex;
    align-items: center;
    line-height: 0;
}

.icon {
    font-size: 1.8rem !important;
    margin-left: 1rem;
    align-self: center;
    color: #062630;
    -webkit-transition: color 200ms linear;
    -ms-transition: color 200ms linear;
    -moz-transition: color 200ms linear;
    transition: color 200ms linear;
}

.icon:hover {
    color: #F0FFFF;
    -webkit-transition: color 200ms linear;
    -ms-transition: color 200ms linear;
    -moz-transition: color 200ms linear;
    transition: color 200ms linear;
}

.banner-outer {
    justify-content: center;
    min-height: 3rem;
    width: 100%;
}

.banner-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feed {
    max-height: 65vh;
    overflow: auto;
}

.p-b-1 {
    padding-bottom: .5rem;
}